.App {
  text-align: center;
}

.nav {
  background-color: yellow;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
}
.nav img {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 20%;
}
